<footer class="footer">
  <small>
    Tools created by <a href="https://twitter.com/mrjohnsonsci">Peter Johnson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/mrjohnsonsci">Blog</a></li>
    </ul>
  </nav>
</footer>